<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link rel="stylesheet" href="/css/fragment/userLayout.css">
</head>

<body>

<!-- HEADER -->
<header th:fragment="header" class="header">
    <div class="nav-container">
        <h1 class="logo">🌱 IoT Farm</h1>

        <nav class="nav-menu">
            <a th:href="@{/user/device}">Quản lý Thiết bị</a>
            <a th:href="@{/user/control}">Điều khiển và Lập lịch</a>
            <a th:href="@{/user/data}">Dữ liệu Cảm biến</a>
        </nav>
    </div>
</header>

<!-- FOOTER -->
<footer th:fragment="footer" class="footer">
    <p>© 2026 IoT Farm System</p>
</footer>

</body>
</html>